{% extends "layout.html" %}
{% block body %}
<div class=message>
<h2>Who the hell is Stefan?</h2>
<p align=justify>Hello folks!<br/>
God knows how, but you ended on this god-forsaken place of the web.<br/>
I am a student at the University of Edinburgh. My degree has the fancy name: BSc (Hons) Artificial Intelligence and Computer Science. The university boasts the best research in the UK, proven by the RAE and Edinburgh overall is an awesome place to live.<br/>
I like computers. That's why this exists. Because I like to make computers do things and I have too much free time on my hands.<br/>
I have been working for Skyscanner for a bit now. There I've been doing Python and SQL mostly and exploring some fun (and some not so) bits of the language. Since I am a bit lazy, I've been telling myself I should probably do more development in my free time. This whole blog/page/whatever is a product of that. Throughout the years I can say I've done things in: C/C++, Perl, Ruby, Python(duh!), Java, Haskell, C#. You can some of my things in here <a href="https://github.com/SSabev">on GitHub</a>. It even has some things, which were started as coursework at uni (the Carneades implementation for instance).
<br/>
If you're interested in the more formal things, here is a link to my LinkedIn profile-&gt;</p>
<a href="https://www.linkedin.com/profile/view?id=64426985&trk=tab_pro">
<img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="120" height="25" border="0">
</a>
</div>
{% endblock %}
