{% extends "layout.html" %}
{% block body %}
<div class=message>
<h2>Who am I?</h2>
<p>Just a brief intro - I am currently studying Artificial Intelligence and Computer Science at the University of Edinburgh.<br/>
I have been a developer for some time. I do mostly Python,SQL at work and during my free-time and at uni I've been messing about with Python, Ruby, Perl, Java, Haskell, C/C++.<br/>
You can find my LinkedIn and GitHub profiles below:</p>
<a href="https://www.linkedin.com/profile/view?id=64426985&trk=tab_pro">
<img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="120" height="25" border="0">
</a>
<a href="https://github.com/SSabev">on GitHub</a>
</div>
{% endblock %}
