{% extends "layout.html" %}
{% block body %}
<div class=container>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form class="form-signin" action="{{ url_for('login') }}" method=post>
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="text" name=username class="input-block-level" placeholder="Email address">
    <input type="password" name=password class="input-block-level" placeholder="Password">
    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
</form>
</div>
{% endblock %}
